<form name="editHubForm" class="form-horizontal" role="form" novalidate>
	<main-layout>
		<headline>
			{{editCtrl.hub.name.fi || "hubs.name.placeholder" | translate}}
		</headline>
		<actions>
			<hub-edit-navi></hub-edit-navi>
		</actions>
		<content>
            <div class="row">
                <h3 class="h3-first">Nimitiedot</h3>
            </div>
            <div class="row wdHubEditView">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column first-column">
					<div class="form-group">
						<label for="inputNameFi"">{{ "hubs.name.fi.label" | translate }} *</label>
						<div class="input-group">
							<input id="inputNameFi" type="text" class="form-control" ng-model="editCtrl.hub.name.fi" required />
                            <span class="input-group-addon">fi</span>
                        </div>
					</div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
					<div class="form-group">
						<label for="inputNameSv">{{ "hubs.name.sv.label" | translate }} *</label>
                        <div class="input-group">
							<input id="inputNameSv" type="text" class="form-control" ng-model="editCtrl.hub.name.sv" required />
                            <span class="input-group-addon">sv</span>
                        </div>
					</div>
                        </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
					<div class="form-group">
						<label for="inputNameEn">{{ "hubs.name.en.label" | translate }} *</label>
                        <div class="input-group">
							<input id="inputNameEn" type="text" class="form-control" ng-model="editCtrl.hub.name.en" required />
                            <span class="input-group-addon">en</span>
                        </div>
					</div>
                        </div>
					<facilities-table facilities="editCtrl.facilities"></facilities-table>
				</div>

            <div class="row wdHubEditView">
					<h3>{{"hubs.location" | translate}} *</h3>
					<edit-hub-map ng-model="editCtrl.hub"></edit-hub-map>

				<div class="col-md-6">
					<h3>{{"hubs.location.label" | translate}} *</h3>

					<edit-hub-map ng-model="editCtrl.hub" facilities="editCtrl.facilities"></edit-hub-map>
				</div>
			</div>
                </div>
		</content>
	</main-layout>
</form>
