#facilities-pricing-capacityType {
  width: 16%;
}

#facilities-view-pricing-capacityType {
  width: 10%;
}

#facilities-pricing-usage {
  width: 15%;
}

#facilities-utilization-capacity-build {
  width: 18%;
}

#facilities-view-pricing-usage {
  width: 9%;
}

#facilities-pricing-maxCapacity {
  width: 5%;
}

#facilities-pricing-dayType {
   width: 10%;
}

#facilities-view-pricing-dayType {
  width: 9%;
}

#facilities-pricing-h24 {
  width: 3%;
}

#facilities-pricing-from {
  width: 6%;
}

#facilities-view-pricing-from {
  width: 5%;
}

#facilities-pricing-until {
  width: 6%;
}

#facilities-view-pricing-until {
  width: 5%;
}

#facilities-pricing-free {
  width: 3%;
}

#pricing-edit > table > tbody > tr.selected:nth-child(2n) > td, #pricing-edit > table > thead > tr.selected:nth-child(2n) > th {
  background-color: #ECECEC;
}

#pricing-edit > table > tbody > tr.selected:nth-child(2n+1) > td, #pricing-edit > table > thead > tr.selected:nth-child(2n+1) > th {
  background-color: #E0E0E0;
}

#pricing-edit > table > tbody > tr > td.clipboard-indicator,
#pricing-edit > table > thead > tr > th.clipboard-indicator,
#pricing-edit > table > tfoot > tr > th.clipboard-indicator {
  width: 5px;
  padding: 0px;
  border-right: 0px none transparent;
}

#pricing-edit > table > tbody > tr.on-clipboard > td.clipboard-indicator {
  background-color: $primarycolor;
}

#pricing-edit > table > tbody > tr > td.pricing-select,
#pricing-edit > table > thead > tr > th.pricing-select,
#pricing-edit > table > tfoot > tr > th.pricing-select{
  border-left:  0px none transparent;
  padding-right: 10px;
}

#pricing-edit > table > tbody > tr.new-pricing-group > td {
  border-top-width: 4px;
  border-top-color: $secondarycolor;
}

.tableText {
  white-space: pre-wrap;
}

//capacity table inputs
.capacityInput {
  background-color: transparent;
}

.capacityInput:active {
  background-color: #fff;
}

.capacityInput:focus {
  background-color: #fff;
}

tr.selected > td > .capacityInput {
  background-color: #fff;
}