<div id="contactEditModal">
	<form name="editContactForm" class="form-horizontal" role="form" novalidate ng-submit="ok(editContactForm)">
		<div class="modal-header">
			<h3 class="modal-title">{{ titleKey | translate }}</h3>
		</div>
		<div class="modal-body">
			<violations context="{{contactEditCtrl.context}}"></violations>
			<div class="row">
				<label>{{"operators.label" | translate}}</label>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<operator-select object="contact"></operator-select>
					</div>
				</div>
			</div>

			<div class="row">
				<label>{{ "contacts.name.label" | translate }} *</label>
			</div>
			<div class="row">
				<multilingual-edit name="name" ng-model="contact.name" mandatory="true"></multilingual-edit>
			</div>

			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<label>{{ "contacts.phone.label" | translate }} (*)</label>
						<div>
							<input name="phone" type="input" ng-model="contact.phone" class="form-control" empty-to-null
								   ng-required="!contact.email" show-errors>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<label>{{ "contacts.email.label" | translate }} (*)</label>
						<div>
							<input name="phone" type="input" ng-model="contact.email" class="form-control" empty-to-null
								   ng-required="!contact.phone" show-errors>
						</div>
					</div>
				</div>
			</div>

			<h4 class="ng-binding">{{ "contacts.address.label" | translate }}</h4>
			<address-edit ng-model="contact.address" path="contacts.address"></address-edit>

			<h4 class="ng-binding">{{ "contacts.additionalInfo.label" | translate }}</h4>
			<div class="row">
				<label>{{ "contacts.openingHours.label" | translate }}</label>
			</div>
			<div class="row">
				<long-multilingual-edit name="openingHours" ng-model="contact.openingHours" mandatory="false"></long-multilingual-edit>
			</div>

			<div class="row">
				<label>{{ "contacts.info.label" | translate }}</label>
			</div>
			<div class="row">
				<long-multilingual-edit name="info" ng-model="contact.info" mandatory="false"></long-multilingual-edit>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="last-column">
					<button type="button" id="wdContactCancel" class="btn btn-xs-secondary" ng-click="cancel()">{{ "common.action.cancel" | translate }}</button>
					<button type="submit" id="wdContactOk" class="btn btn-xs"
							ng-if="permit([CONTACT_CREATE, CONTACT_UPDATE], contact.operatorId)">{{ "common.action.ok" | translate }}</button>
				</div>
			</div>
		</div>
	</form>
</div>
