<main-layout>
	<headline>{{ "contacts.title" | translate }}</h2></headline>
	<actions><contact-list-navi></contact-list-navi></actions>
	<content>
		<div class="row smallMarginBottom">
			<p>Tälle sivulle on koottu järjestelmään tallennetut yhteystiedot</p>
			<ul>
				<li>Yhteystietoja käytetään pysäköintipaikoissa</li>
				<li>Yhteystiedot ovat joko operaattorikohtaisia tai HSL:n hallinnoimia kaikille näkyviä yleisiä yhteystietoja</li>
				<li>Sisäänkirjautuneet operaattorikäyttäjät voivat lisätä ja muokata omia yhteystietojaan</li>
				<li>HSL voi lisätä ja muokata kaikkia yhteystietoja</li>
			</ul>
		</div>
		<div class="panel panel-default wdContactsView">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>{{ "contacts.name.label" | translate }}</th>
						<th>{{ "contacts.phone.label" | translate }}</th>
						<th>{{ "contacts.email.label" | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contact in listCtrl.contacts" class="contactRow wdContact{{contact.id}}">
						<td class="wdNameFi">
							<a class="wdEdit" ng-click="listCtrl.edit(contact)">
								{{ contact.name.fi }}
							</a>
						</td>
						<td class="wdPhone">{{ contact.phone }}</td>
						<td class="wdEmail">{{ contact.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</content>
</main-layout>
