.idea
*.iml
target
node
node_modules
vendor
**/frontend/build
bin
QGeometryColumns.java
QSchemaVersion.java
QSpatialRefSys.java
.DS_Store
.sass-cache
npm-debug.log
phantomjsdriver.log
application.log
application.pid
protractor-results.xml
**/protractor/screenshots