<div id="operatorEditModal">
	<div class="modal-header">
		<h3 class="modal-title">{{ titleKey | translate }}</h3>
	</div>
	<div class="modal-body">
		<violations prefix="operators"></violations>
		<form name="editOperatorForm" class="form-horizontal" role="form" novalidate>
			<div class="row">
				<label>{{ "operators.name.label" | translate }} *</label>
			</div>
			<div class="row">
				<multilingual-edit name="name" ng-model="operator.name" mandatory="true"></multilingual-edit>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="last-column">
				<button id="wdOperatorCancel" class="btn btn-xs-secondary" ng-click="cancel()">{{ "common.action.cancel" | translate }}</button>
				<button id="wdOperatorOk" class="btn btn-xs" ng-click="ok(editOperatorForm)"
						ng-if="permit([OPERATOR_CREATE, OPERATOR_UPDATE], operator.id)">{{ "common.action.ok" | translate }}</button>
			</div>
		</div>
	</div>
</div>
