<div id="operatorEditModal">
	<div class="modal-header">
		<h3 class="modal-title">{{ titleKey | translate }}</h3>
	</div>
	<div class="modal-body">
		<div ng-show="violations.length > 0" class="row errorRow">
			<div ng-repeat="violation in violations" class="wdViolation">
				<span class="wdViolationPath">{{
					(violation.path ? 'operators.' + violation.path : 'operators') + '.label' | translate
				}}</span>:
				<span class="wdViolationMessage" translate="violation.{{violation.type}}" translate-values="{{violation.args}}"></span>
			</div>
		</div>
		<form name="editOperatorForm" class="form-horizontal" role="form" novalidate>
			<div class="row">
				<label>{{ "operators.name.label" | translate }} *</label>
			</div>
			<div class="row">
				<multilingual-edit name="name" ng-model="operator.name" mandatory="true"></multilingual-edit>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="last-column">
				<button id="wdOperatorCancel" class="btn btn-xs-secondary" ng-click="cancel()">{{ "common.action.cancel" | translate }}</button>
				<button id="wdOperatorOk" class="btn btn-xs" ng-click="ok(editOperatorForm)">{{ "common.action.ok" | translate }}</button>
			</div>
		</div>
	</div>
</div>