<div class="input-group operator">
	<ui-select ng-model="object.operatorId" theme="bootstrap" ng-disabled="disabled" reset-search-input="true"
			   name="operator" show-errors ng-required="mandatory">
		<ui-select-match placeholder="{{placeholder | translate}}">{{$select.selected.name.fi}}</ui-select-match>
		<ui-select-choices repeat="operator.id as operator in allOperators | filter: {name: {fi: $select.search}}">
			<div ng-bind-html="operator.name.fi | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
	<span class="input-group-btn">
		<button class="btn btn-default clearOperator" ng-click="object.operatorId = undefined"
				ng-show="!mandatory && object.operatorId">x</button>
		<button class="btn btn-default createOperator" ng-click="createOperator()"
				ng-disabled="!$parent.permit($parent.OPERATOR_CREATE)">+</button>
	</span>
</div>
