<?xml version="1.0" encoding="UTF-8"?>
<included>

    <include resource="logback-appenderConsole.xml"/>
    <include resource="logback-appenderWillow.xml"/>

    <logger name="fi.hsl.parkandride" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="WILLOW"/>
    </root>

</included>
