#facilities-pricing-capacityType {
  width: 13%;
}

#facilities-pricing-usage {
  width: 12%;
}

#facilities-pricing-maxCapacity {
  width: 5%;
}

#facilities-pricing-dayType {
  width: 11%;
}

#facilities-pricing-from {
  width: 6%;
}

#facilities-pricing-until {
  width: 6%;
}