//fonts
h1 {
  @include font($font-size: 60px);
}

h2 {
  @include font($font-size: 40px);
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
}

h3 {
  @include font($font-size: 30px);
  border-bottom: 3px solid $primarycolor;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.h3-first{
  margin-top: 0;
}

.h3-view {
  margin-top: 55px;
}

h4 {
  @include font($font-size: 20px);
  margin-top: 20px;
}

//links
a {
  color: $primarycolor;
}

a:hover {
  color: $primarycolor-light;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.nav > li > a:focus {
  background-color: $primarycolor;
}
