//body
html, body {
  height: 100%;
  color: $k80;
  font-size: $basic-font-size;
}

//wrap for footer
#wrap {
  min-height: 100%;
}

//main for footer
#main {
  overflow:auto;
  padding-bottom:40px;
}

//header & footer
.page-header {
  border: 0;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: 0px 0px 0px;
}

.page-footer {
  position: relative;
  margin-top: -40px;
  width: 100%;
  clear: both;
  height: 40px;
  color: #fff;
  background-color: $k60;
  padding-top: 10px;
}

//header logo column
.logo-column {
  @extend .col-lg-4;
  @extend .col-md-5;
  @extend .col-sm-6;
  @extend .col-xs-7;
}

//header logo
.logo {
  margin-top: -13px;
}

//header nav column
.navi-col {
  @extend .col-lg-6;
  @extend .col-md-10;
  @extend .col-sm-9;
  @extend .col-xs-9;
  padding-left: 20px;
}

//header nav
.nav-tabs {
  height: $tab-height;
  border-radius: $border-radius;
  border-bottom: 0px;
  margin-top: 10px;
  > li {
    margin-bottom: 0px;
    > a {
      font-weight: bold;
      height: $tab-height;
      color: #fff;
      background-color: $primarycolor;
      border-radius: $border-radius;
      border: 0;
      &:hover {
        background-color: $primarycolor;
        text-decoration: underline;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        cursor: default;
        border: 0;
        background-color: $secondarycolor;
        text-decoration: none;
      }
    }
  }
}

//header logout link column
.logout {
  @extend .col-lg-2;
  @extend .col-md-2;
  @extend .col-sm-3;
  @extend .col-xs-3;
  padding-top: 20px;
}

//colorful secondary navi above
.navi-above {
  background-color: $secondarycolor;
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
  }
}

.content {
  padding-top:40px;
  padding-bottom: 40px;
}

//secondary navi below
.navi-below {
  .btn {
    margin-bottom: 40px;
    margin-left: 5px;
  }
}

//rows
.row {
  margin: 0 0 0 0;
}

//
.navi-row {
  margin-top: -140px;
}

//columns
.column {
  padding-right: 20px;
  padding-left: 20px;
}

.column2 {
  @extend .col-lg-6;
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-xs-12;
  padding-right: 20px;
  padding-left: 20px;
}

.column3 {
  @extend .col-lg-4;
  @extend .col-md-4;
  @extend .col-sm-4;
  @extend .col-xs-12;
  padding-right: 20px;
  padding-left: 20px;
}

.first-column {
  padding-left: 0px;
}

.last-column {
  padding-right: 0px;
}

.secondary-navi-column {
  @extend .col-lg-6;
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-xs-6;
}

//panel
.panel {
  margin-bottom:0px;
}

//form controls
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}

.last-form-group {
  margin-bottom: 0px;
}

.divider {
  border-bottom: 2px solid #BEE4F8;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: -40px;
  margin-right: -40px;
}
