//angular styles

.form-control:focus {
  @include focused-input;
}

:focus {
  outline: none;
}

.ng-pristine .map {
  border: 1px solid transparent;
}

.form-control.validation-error.ng-invalid,
.validation-error.ng-invalid > .map,
.emergencyContact > .validation-error.ng-invalid > button,
.operatorContact > .validation-error.ng-invalid  > button {
  border: 2px solid $errorcolor;
}

.errorRow {
  border: 3px solid $warningcolor;
  background-color: $warningbgcolor;
  padding: 20px;
  margin-bottom: 40px;
}