//angular styles

//.ng-valid.ng-dirty {
//  border: none;
//}

.ng-invalid.ng-dirty {
  border-color: $errorcolor;
}

.form-control:focus {
  border: 1px solid $secondarycolor;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ng-pristine .map {
  border: 1px solid transparent;
}

input.ng-invalid.formdirty, edit-hub-map.ng-invalid.formdirty .map {
  border: 1px solid $errorcolor;
}

:focus {
  outline: none;
}
