@media (min-width: 768px) {
  //header nav column
  .navi-col {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  //footer height
  .page-footer {
    height: 80px;
  }

  //navi below changed because of footer
  .navi-below {
    bottom: 80px;
  }

  //navi-row
  .navi-row {
    margin-top: -180px;
  }

  //header nav column
  .navi-col {
    padding-left: 0px;
  }

  .modal-dialog {
    width: $modal-sm;
//    margin: 10px;
  }

  .btn-s.btn-responsive {
    @include button($radius:15px, $font-size:16px, $height:30px);
    padding: 3px 10px;
    margin-top: 0;
  }

  .secondary-navi-column.navi-column-responsive {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  //header nav
  .nav-tabs {
    margin-top: 16px;
  }
  .modal-dialog {
    width: $modal-md;
    //    margin: auto auto;
  }
  //header nav column
  .navi-col {
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .btn-s.btn-responsive {
    @include button($radius:15px, $font-size:16px, $height:30px);
    padding: 3px 10px;
    margin-top: 0;
  }
  .secondary-navi-column.navi-column-responsive {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  //header nav
  .nav-tabs {
    margin-top: 15px;
  }
  .modal-dialog {
    width: $modal-lg;
//    margin: auto auto;
  }
}
