//primary color
$primarycolor: #007AC9;
$primarycolor-light: #4DC7FF;
$primarycolor-dark: #004796;

//secondary colors
$secondarycolor: #BEE4F8;
$highlightcolor: #F092CD;
$k80: #333;
$k60: #616365;
$k40: #666;
$k10: #DDD;

//message, warning and error colors
$message-color: #64BE14;
$warning-color: #FED100;
$error-color: #DC0451;

//font
$font-family: Helvetica, sans-serif;
$basic-font-size: 16px;

//header variables
$border-radius: 15px 15px 0 0;
$tab-height: 40px;
