//base color
$basecolor: #007AC9;
$basecolor-light: #4DC7FF;
$basecolor-dark: #004796;

//secondary colors
$secondarycolor: #BEE4F8;
$highlightcolor: #F092CD;
$k80: #333;
$k60: #616365;
$k40: #666;
$k10: #DDDDDC;

//message, warning and error colors
$message-color: #64BE14;
$warning-color: #FED100;
$error-color: #DC0451;

//font family
$font-family: Helvetica, sans-serif;

//header variables
$border-radius: 15px 15px 0 0;
$height: 40px;
