<main-layout>
	<headline>{{ "users.title" | translate }}</h2></headline>
	<actions><user-list-navi></user-list-navi></actions>
	<content>
		<div class="panel panel-default wdUsersView">
			<table class="table table-bordered table-condensed">
				<thead>
				<tr>
					<th>{{ "users.username.label" | translate }}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="user in ctrl.users" class="userRow wdUser{{user.username}}">
					<td class="wdUsername">
						<a class="wdEdit" ng-click="ctrl.edit(user)">
							{{ user.username }}
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</content>
</main-layout>
