<div id="userModal">
	<div class="modal-header row">
		<h3 class="modal-title">{{ 'users.newPassword.title' | translate }}</h3>
	</div>

	<div class="modal-body">
		<div ng-show="violations.length > 0" class="row errorRow">
			<div ng-repeat="violation in violations" class="wdViolation">
				<span class="wdViolationPath">{{
					(violation.path ? 'users.' + violation.path : 'users') + '.label' | translate
				}}</span>:
				<span class="wdViolationMessage" translate="violation.{{violation.type}}" translate-values="{{violation.args}}"></span>
			</div>
		</div>
		<form name="userForm" class="form-horizontal" role="form" novalidate>
			<div class="row">
				<div><label>{{ "users.newPassword.label" | translate }} *</label></div>
				<input name="newPassword" type="password" ng-model="ctrl.newPassword" class="form-control">

				<div><label>{{ "users.newPassword.label2" | translate }} *</label></div>
				<input name="newPassword2" type="password" ng-model="ctrl.newPassword2" class="form-control">
			</div>
		</form>
	</div>

	<div class="modal-footer row">
		<div class="last-column">
			<button class="btn btn-xs-secondary" ng-click="ctrl.cancel()">{{ "common.action.cancel" | translate }}</button>
			<button class="btn btn-xs" ng-click="ctrl.save(userForm)"
					ng-if="ctrl.permitSave()">{{ "common.action.ok" | translate }}</button>
		</div>
	</div>
</div>