<td class="wdUsername">
	<a class="wdEdit" ng-click="ctrl.openModal()">
		{{ ctrl.user.username }}
	</a>
</td>
<td>{{ ctrl.user.operatorNameFi }}</td>
<td>{{ "roles." + ctrl.user.role + ".label" | translate }}</td>
<td>
	<a class="btn btn-xs" role="button" ng-click="ctrl.updateSecret()" ng-if="ctrl.permitUpdateSecret()">
		<span ng-hide="ctrl.isApi()">{{ "users.listActions.updatePass.label" | translate }}</span>
		<span ng-show="ctrl.isApi()">{{ "users.listActions.updateToken.label" | translate }}</span>
	</a>
	<a class="btn btn-xs wdDeleteUser" role="button" ng-click="ctrl.remove()" ng-if="ctrl.permitRemove()">
		<span>{{ "users.listActions.remove.label" | translate }}</span>
	</a>
</td>
