<div id="userModal">
	<div class="modal-header row">
		<h3 class="modal-title">{{ 'users.newPassword.title' | translate }}</h3>
	</div>

	<div class="modal-body">
		<violations context="{{ctrl.context}}"></violations>
		<form name="userForm" class="form-horizontal" role="form" novalidate>
			<div class="row">
				<div class="column3 first-column">
					<label>{{ "users.newPassword.label" | translate }} *</label>
					<div class="form-group">
						<input name="newPassword" type="password" ng-model="ctrl.newPassword" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<label>{{ "users.newPassword.label2" | translate }} *</label>
					<div class="form-group">
						<input name="newPassword2" type="password" ng-model="ctrl.newPassword2" class="form-control">
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer row">
		<div class="last-column">
			<button class="btn btn-xs-secondary" ng-click="ctrl.cancel()">{{ "common.action.cancel" | translate }}</button>
			<button class="btn btn-xs" ng-click="ctrl.save(userForm)"
					ng-if="ctrl.permitSave()">{{ "common.action.ok" | translate }}</button>
		</div>
	</div>
</div>
