<div id="userModal">
	<div class="modal-header row">
		<h3 class="modal-title">{{ ctrl.titleKey | translate }}</h3>
	</div>

	<div class="modal-body">
		<violations prefix="{{ctrl.context}}"></violations>
		<form name="userForm" class="form-horizontal" role="form" novalidate>
			<div class="row">
				<div class="column3 first-column">
					<label>{{ "users.role.label" | translate }} *</label>
				</div>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<ui-select name="role" ng-model="ctrl.user.role" on-select="ctrl.onRoleSelect($item, $model)" theme="bootstrap" reset-search-input="true">
							<ui-select-match placeholder="{{'users.role.placeholder' | translate}}">
								{{$select.selected.label}}
							</ui-select-match>
							<ui-select-choices repeat="role.id as role in ctrl.roles | filter: {label: $select.search}">
								<div ng-bind-html="role.label | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column3 first-column">
					<label>{{ "users.username.label" | translate }} *</label>
				</div>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<input name="username" type="input" ng-model="ctrl.user.username" class="form-control">
					</div>
				</div>
			</div>

			<div ng-show="ctrl.isPasswordRequired()">
				<div class="row">
					<div class="column3 first-column">
						<label>{{ "users.password.label" | translate }} *</label>
					</div>
				</div>
				<div class="row">
					<div class="column3 first-column">
						<div class="form-group">
							<input name="password" type="password" ng-model="ctrl.user.password" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<div ng-show="!ctrl.isAdmin()">
				<div class="row">
					<div class="column3 first-column">
						<label>{{ "users.operator.label" | translate }} *</label>
					</div>
				</div>
				<div class="row">
					<div class="column3 first-column">
						<div class="form-group">
								<ui-select name="operator" ng-model="ctrl.user.operatorId" on-select="ctrl.onOperatorSelect($item, $model)" theme="bootstrap"
										   reset-search-input="true" ng-disabled="ctrl.isOperatorCreator">
									<ui-select-match placeholder="{{'operators.select' | translate}}" allow-clear="true">
										{{$select.selected.name.fi}}
									</ui-select-match>
									<ui-select-choices repeat="operator.id as operator in ctrl.operators | filter: {name: {fi: $select.search}}">
										<div ng-bind-html="operator.name.fi | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>

	<div class="modal-footer row">
		<div class="last-column">
			<button id="wdUserModalCancel" class="btn btn-xs-secondary" ng-click="ctrl.cancel()">{{ "common.action.cancel" | translate }}</button>
			<button id="wdUserModalOk" class="btn btn-xs" ng-click="ctrl.save(userForm)"
					ng-if="permit([USER_CREATE, USER_UPDATE], ctrl.user.operatorId)">{{ "common.action.ok" | translate }}</button>
		</div>
	</div>
</div>
