<form name="createFacilityForm" class="form-horizontal" role="form" novalidate>

<div class="row">
	<div class="col-md-6">
	</div>
	<create-navi></create-navi>
</div>


<div class="row">
	<div class="col-md-6">

		<h4>Pysäköintilaitos</h4>
			<div class="form-group">
				<label for="inputName" class="col-sm-5 control-label">* Nimi</label>
				<div class="col-sm-7">
					<input id="inputName" type="text" class="form-control" ng-model="facility.name" required />
				</div>
			</div>

			<!--Aliakset-->
			<div class="form-group">
				<label for="inputAlias" class="col-sm-5 control-label">Aliakset</label>
				<div class="col-sm-7">
					<input id="inputAlias" type="text" class="form-control" ng-model="facility.aliases" aliases>
				</div>
			</div>

			<div>
				<h4>Kapasiteetti</h4>
				<div class="panel panel-default">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th>Tyyppi</th>
								<th>Rakennettu kapasiteetti</th>
								<th>Tilapäisesti pois käytöstä</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="capacity in facility.capacities">
								<td>{{'facilities.common.capacity.' + capacity.capacityType | translate}}</td>
								<td>
									<input type="number" class="form-control" ng-model="capacity.built" min="0">
								</td>
								<td>
									<input type="number" class="form-control" ng-model="capacity.unavailable" min="0">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>
	<div class="col-md-6">

		<h4>* Sijainti</h4>

		<polygon ng-model="facility.border" editable="true" required></polygon>

	</div>
</div>

<div class="row">
</div>

<div class="row">
	<div class="col-md-6">
	</div>
	<create-navi></create-navi>
</div>

</form>
