<div ng-if="contact">
	<h4>{{ "facilities.contacts." + contactType + ".label" | translate }}</h4>
	<div class="row">
		<multilingual-view value="contact.name"></multilingual-view>
	</div>

	<div class="row" ng-if="contact.phone">
		<div class="first-3column">
			<p>{{ contact.phone }}</p>
		</div>
	</div>

	<div class="row" ng-if="contact.email">
		<div class="first-3column">
			<p>{{ contact.email }}</p>
		</div>
	</div>

	<div class="row" ng-if="contact.address.streetAddress || contact.address.postalCode || contact.address.city">&nbsp;</div>

	<address-view address="contact.address"></address-view>

	<div class="row" ng-if="contact.openingHours || contact.info">&nbsp;</div>

	<div class="row" ng-if="contact.openingHours">
		<multilingual-view value="contact.openingHours"></multilingual-view>
	</div>

	<div class="row" ng-if="contact.info">
		<multilingual-view value="contact.info"></multilingual-view>
	</div>
</div>