<form name="editFacilityForm" class="form-horizontal" role="form" novalidate>
	<main-layout>

		<headline>
			{{ editCtrl.facility.name.fi || ('facilities.name.placeholder' | translate) }}
		</headline>
		<actions>
			<facility-edit-navi></facility-edit-navi>
		</actions>

		<content>
			<div class="wdFacilityEditView">

				<div class="row">
					<h3 class="h3-first">{{ "facilities.name.title" | translate }}</h3>
				</div>

				<div class="row">
					<label>{{ "facilities.name.label" | translate }} *</label>
				</div>

				<div class="row">
					<multilingual-edit name="name" ng-model="editCtrl.facility.name" mandatory="true"></multilingual-edit>
				</div>

				<div class="row">
						<div class="form-group">
							<label>{{ "facilities.aliases.label" | translate }}</label>
							<div class="wdAliases">
								<tags ng-model="editCtrl.facility.aliases" placeholder="{{ 'facilities.aliases.placeholder' | translate }}"></tags>
							</div>
					</div>
				</div>

				<div class="row">
					<h3>{{"facilities.location" | translate}} *</h3>
					<div class="btn-group">
						<label id="editModeLocation" class="btn btn-xs" ng-model="editCtrl.editMode" btn-radio="'location'">Määritä sijainti</label>
						<label id="editModePorts" class="btn btn-xs" ng-model="editCtrl.editMode" btn-radio="'ports'">Määritä sisään- ja uloskäynnit</label>
					</div>
					<div class="map-container">
						<facility-map name="facilityMap" ng-model="editCtrl.facility" edit-mode="editCtrl.editMode"
									  no-tiles="{{features['mapNoTiles']}}" show-errors="{ instant: true }"></facility-map>
					</div>
				</div>

				<div class="row">
					<h3>{{"facilities.capacity.heading" | translate}}</h3>

					<div class="panel panel-default">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
							<tr>
								<th translate="facilities.capacity.type"></th>
								<th translate="facilities.capacity.built"></th>
								<th translate="facilities.capacity.unavailable"></th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="capacityType in editCtrl.capacityTypes">
								<td class="wdCapacityType">{{'facilities.capacities.' + capacityType + '.label' | translate}}</td>
								<td>
									<input name="{{capacityType}}built" type="number" class="form-control capacityInput"
										   ng-model="editCtrl.facility.capacities[capacityType].built"
										   min="0" show-errors>
								</td>
								<td>
									<input name="{{capacityType}}unavailable" type="number" class="form-control capacityInput"
										   ng-model="editCtrl.facility.capacities[capacityType].unavailable"
										   min="0" show-errors>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<h3>{{"facilities.serviceIds.heading" | translate}}</h3>
					<div>
						<ui-select multiple ng-model="editCtrl.facility.serviceIds" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
							<ui-select-match placeholder="Valitse palvelut...">{{$item.name.fi}}</ui-select-match>
							<ui-select-choices repeat="service.id as service in editCtrl.services | filter: {name: {fi: $select.search}}">
								<div ng-bind-html="service.name.fi | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<h3>{{"facilities.contacts.heading" | translate}}</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column first-column">
						<facility-contact-edit contact-type="emergency" facility-contacts="editCtrl.facility.contacts"
											   all-contacts="editCtrl.contacts" mandatory="true"></facility-contact-edit>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column first-column">
						<facility-contact-edit contact-type="operator" facility-contacts="editCtrl.facility.contacts"
											   all-contacts="editCtrl.contacts" mandatory="true"></facility-contact-edit>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 column first-column">
						<facility-contact-edit contact-type="service" facility-contacts="editCtrl.facility.contacts"
											   all-contacts="editCtrl.contacts"></facility-contact-edit>
					</div>
				</div>
			</div>
		</content>
	</main-layout>
</form>
