<form name="editFacilityForm" class="form-horizontal" role="form" novalidate>
<main-layout>

<headline>
	{{ editCtrl.facility.name.fi || ('facilities.name.placeholder' | translate) }}
</headline>
<actions>
	<facility-edit-navi></facility-edit-navi>
</actions>

<content>
<violations context="{{editCtrl.context}}"></violations>
<div class="wdFacilityEditView">


<h3 class="h3-first">{{"facilities.basic_info" | translate}}</h3>

<div class="row">
	<label>{{ "facilities.name.label" | translate }} *</label>
</div>
<div class="row">
	<multilingual-edit name="name" ng-model="editCtrl.facility.name" mandatory="true"></multilingual-edit>
</div>
<div class="row">
	<div class="form-group">
		<label>{{ "facilities.aliases.label" | translate }}</label>
		<div class="wdAliases">
			<tags ng-model="editCtrl.facility.aliases" placeholder="{{ 'facilities.aliases.placeholder' | translate }}"></tags>
		</div>
	</div>
</div>

<div class="row">
	<label>{{"operators.label" | translate}} *</label>
</div>
<div class="row">
	<div class="column3 first-column">
		<div class="form-group">
			<operator-select object="editCtrl.facility" mandatory="true" disabled="!permit(ALL_OPERATORS)"></operator-select>
		</div>
	</div>
</div>

<div class="row">
	<label>{{"facilities.status.label" | translate}} *</label>
</div>
<div class="row">
	<div class="column3 first-column">
		<div class="form-group">
			<ui-select class="statusInput" ng-model="editCtrl.facility.status" theme="bootstrap" reset-search-input="true">
				<ui-select-match placeholder="{{'facilities.status.placeholder' | translate }}">
					{{$select.selected.label}}
				</ui-select-match>
				<ui-select-choices repeat="status.id as status in editCtrl.facilityStatuses | filter: {label: $select.search}">
					<div ng-bind-html="status.label | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
</div>

<div class="row">
	<label>{{ "facilities.statusDescription.label" | translate }}</label>
</div>
<div class="row">
	<long-multilingual-edit name="statusDescription" ng-model="editCtrl.facility.statusDescription"></long-multilingual-edit>
</div>

<div class="row">
	<h3>{{"facilities.location.label" | translate}} *</h3>
	<div class="row">
		<p>{{ "facilities.location.help" | translate }}</p>
		<ul>
			<li>{{ "facilities.location.facilityHelp" | translate }}	</li>
			<li>{{ "facilities.location.gateHelp" | translate }}</li>
		</ul>
	</div>
	<div class="row smallMargin">
		<div class="btn-group">
			<label id="editModeLocation" class="btn btn-xs" ng-model="editCtrl.editMode" btn-radio="'location'">
				<span class="checkmark">✓ </span>{{ "facilities.action.addLocation" | translate }}
			</label>
			<label id="editModePorts" class="btn btn-xs" ng-model="editCtrl.editMode" btn-radio="'ports'">
				<span class="checkmark">✓ </span>{{ "facilities.action.addPorts" | translate }}
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="map-container">
		<facility-map name="facilityMap" ng-model="editCtrl.facility" edit-mode="editCtrl.editMode"
					  no-tiles="{{features['mapNoTiles']}}" show-errors="{ instant: true }"></facility-map>
	</div>
</div>

<h3>{{ "facilities.openingHours.heading" | translate }}</h3>
<div class="row"><p>{{ "facilities.openingHours.byDayType.disclaimer" | translate }}</p></div>
<div class="row smallMargin"><label>{{ "facilities.openingHours.info.label" | translate }}</label></div>
<div class="row">
	<long-multilingual-edit name="openingHoursInfo" ng-model="editCtrl.facility.openingHours.info"></long-multilingual-edit>
</div>
<div class="row"><label>{{ "facilities.openingHours.url.label" | translate }}</label></div>
<div class="row">
	<multilingual-edit name="openingHoursUrl" ng-model="editCtrl.facility.openingHours.url"></multilingual-edit>
</div>

<h3>{{"facilities.capacity.heading" | translate}}</h3>
<h4>{{"facilities.capacity.built" | translate}}</h4>

<div class="row">
	<div class="column2 first-column">
		<div class="panel panel-default">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
				<tr>
					<th translate="facilities.capacity.type"></th>
					<th translate="facilities.capacity.built"></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="capacityType in editCtrl.capacityTypes">
					<td class="wdCapacityType">{{capacityType.label}}</td>
					<td>
						<input name="builtCapacity{{capacityType.id}}" type="number" class="form-control capacityInput"
							   ng-model="editCtrl.facility.builtCapacity[capacityType.id]"
							   min="0" show-errors>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row smallMargin">
	<h4 translate="facilities.unavailableCapacities.capacity.label"></h4>
</div>
<div class="row" ng-show="editCtrl.facility.unavailableCapacities.length == 0">
	<p class="smallMarginBottom">{{ "facilities.unavailableCapacities.disclaimer" | translate }}</p>
</div>
<div class="row" ng-hide="editCtrl.facility.unavailableCapacities.length == 0">
	<div class="column2 first-column smallMarginBottom">
		<div class="panel panel-default">
			<table id="unavailable-capacities" class="table table-bordered table-striped table-condensed">
				<thead>
				<tr>
					<th translate="facilities.unavailableCapacities.capacityType.label"></th>
					<th translate="facilities.unavailableCapacities.usage.label"></th>
					<th translate="facilities.unavailableCapacities.capacity.label"></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="unavailableCapacity in editCtrl.facility.unavailableCapacities">
					<td>
						<div ng-show="editCtrl.showUnavailableCapacityType($index)">
							{{'capacityTypes.' + unavailableCapacity.capacityType + '.label' | translate}}
						</div>
					</td>
					<td>{{'usages.' + unavailableCapacity.usage + '.label' | translate}}</td>
					<td>
						<input name="unavailableCapacity{{unavailableCapacity.capacityType}}{{unavailableCapacity.usage}}" type="number" class="form-control capacityInput"
							   ng-model="unavailableCapacity.capacity"
							   min="0" show-errors>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<h4>{{"facilities.services.heading" | translate}}</h4>
<div class="row">
	<div>
		<ui-select multiple ng-model="editCtrl.facility.services" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
			<ui-select-match placeholder="Valitse palvelut...">{{$item.label}}</ui-select-match>
			<ui-select-choices repeat="service.id as service in editCtrl.services | filter: {label: $select.search}">
				<div ng-bind-html="service.label | highlight: $select.search"></div>
			</ui-select-choices>
		</ui-select>
	</div>
</div>

<h3>{{"facilities.pricing.label" | translate}}</h3>
<div class="row">
	<div ng-repeat="pricingMethod in editCtrl.pricingMethods">
		<label class="radiobutton-label">
			<input type="radio" ng-model="editCtrl.facility.pricingMethod" ng-value="pricingMethod.id" id="pricingMethod.{{pricingMethod.id}}"/>
			{{pricingMethod.label}}
		</label>
	</div>
</div>
<pricing-list pricings="editCtrl.facility.pricing" ng-show="editCtrl.facility.pricingMethod == 'CUSTOM'"></pricing-list>

<h4>{{"facilities.paymentInfo.heading" | translate }}</h4>
<div class="row">
		<div class="form-group">
			<ui-select multiple ng-model="editCtrl.facility.paymentInfo.paymentMethods" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
				<ui-select-match placeholder="{{'facilities.paymentInfo.methodPlaceholder' | translate }}">{{$item.label}}</ui-select-match>
				<ui-select-choices repeat="paymentMethod.id as paymentMethod in editCtrl.paymentMethods | filter: {label: $select.search}">
					<div ng-bind-html="paymentMethod.label | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
<div class="row"><label>{{ "facilities.paymentInfo.detail.label" | translate }}</label></div>
<div class="row">
		<long-multilingual-edit name="paymentInfoDetail" ng-model="editCtrl.facility.paymentInfo.detail"></long-multilingual-edit>
	</div>
<div class="row"><label>{{ "facilities.paymentInfo.url.label" | translate }}</label></div>
<div class="row">
		<multilingual-edit name="paymentInfoUrl" ng-model="editCtrl.facility.paymentInfo.url"></multilingual-edit>
</div>

<h3>{{"facilities.contacts.heading" | translate}}</h3>
<div class="row">
	<div class="column3 first-column">
		<facility-contact-edit contact-type="emergency" facility-contacts="editCtrl.facility.contacts"
							   operator-id="editCtrl.facility.operatorId" mandatory="true"></facility-contact-edit>
	</div>
</div>
<div class="row">
	<div class="column3 first-column">
		<facility-contact-edit contact-type="operator" facility-contacts="editCtrl.facility.contacts"
							   operator-id="editCtrl.facility.operatorId" mandatory="true"></facility-contact-edit>
	</div>
</div>
<div class="row">
	<div class="column3 first-column">
		<facility-contact-edit contact-type="service" facility-contacts="editCtrl.facility.contacts"
							   operator-id="editCtrl.facility.operatorId"></facility-contact-edit>
	</div>
</div>

</div>
</content>
</main-layout>
</form>
