<div class="modal-header">
	<h3 class="modal-title">{{ titleKey | translate }}</h3>
</div>
<div class="modal-body">
	<label><input type="checkbox" ng-model="port.entry"> {{ "facilities.ports.entry.label" | translate }}</label><br>
	<label><input type="checkbox" ng-model="port.exit"> {{ "facilities.ports.exit.label" | translate }}</label><br>
	<label><input type="checkbox" ng-model="port.pedestrian"> {{ "facilities.ports.pedestrian.label" | translate }}</label><br>
	<label>{{ "facilities.ports.streetAddress.label" | translate }}: <input type="input" ng-model="port.streetAddress"></label><br>
	<label>{{ "facilities.ports.postalCode.label" | translate }}: <input type="input" ng-model="port.postalCode"></label><br>
	<label>{{ "facilities.ports.city.label" | translate }}: <input type="input" ng-model="port.city"></label><br>
	<label>{{ "facilities.ports.info.label" | translate }}: <input type="input" ng-model="port.info"></label>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Peru</button>
	<button class="btn btn-danger" ng-click="remove()">Poista</button>
	<button class="btn btn-primary" ng-click="ok()">Tallenna</button>
</div>