<div class="panel panel-default row">
	<table id="utilization" class="table table-bordered table-striped table-condensed wdPredictionsTable">
		<thead>
		<tr>
			<th id="facilities-view-pricing-capacityType" translate="facilities.pricing.capacityType.title"></th>
			<th id="facilities-view-pricing-usage" translate="facilities.pricing.usage.title"></th>
			<th id="facilities-utilization-capacity-build" translate="facilities.capacity.built"></th>
			<th translate="facilities.capacity.current"></th>
			<th ng-repeat="tm in predictionTimes" ng-bind="tm | date:'HH:mm'"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rows" class="wdPredictionRow">
			<td class="wdCapacityType">
				<span ng-bind="'capacityTypes.' + row.capacityType + '.label' | translate"
					  ng-hide="row.capacityType === rows[$index - 1].capacityType"></span>
			</td>
			<td ng-bind="'usages.' + row.usage + '.label' | translate" class="wdUsage"></td>
			<td ng-bind="row.capacity"></td>
			<td>
				<span ng-bind="row.utilization.spacesAvailable"></span>
				<small ng-bind="'(' + (row.utilization.timestamp | date: 'd.M.y HH:mm') + ')'"></small>
			</td>
			<td ng-repeat="tm in predictionTimes" ng-bind="row.predictions[tm]"></td>
		</tr>
		</tbody>
	</table>
</div>