<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column first-column">
	<div class="form-group">
		<div class="input-group">
			<textarea name="{{name}}Fi" type="text" class="form-control" ng-model="string.fi" maxlength="255"
					rows="4" show-errors ng-required="{{mandatory}}"></textarea>
			<span class="input-group-addon">{{ "common.lang.fi" | translate }}&nbsp;</span>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
	<div class="form-group">
		<div class="input-group">
			<textarea name="{{name}}Sv" type="text" class="form-control" ng-model="string.sv" maxlength="255"
					rows="4" show-errors ng-required="{{mandatory}}"></textarea>
			<span class="input-group-addon">{{ "common.lang.sv" | translate }}</span>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 column">
	<div class="form-group">
		<div class="input-group">
			<textarea name="{{name}}En" type="text" class="form-control" ng-model="string.en" maxlength="255"
				   rows="4" show-errors ng-required="{{mandatory}}"></textarea>
			<span class="input-group-addon">{{ "common.lang.en" | translate }}</span>
		</div>
	</div>
</div>
