<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="fi.hsl.parkandride.core.service.AuthenticationService" level="INFO" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>