<div class="row navi-above">
	<div class="container">
		<div class="secondary-navi-column first-column">
			<h2><headline></headline></h2>
		</div>
		<div class="secondary-navi-column navi-column-responsive text-right last-column">
			<actions-top></actions-top>
		</div>
	</div>
</div>

<div class="container content">
	<violations prefix="{{common.translationPrefix}}"></violations>
	<content></content>
</div>

<div class="row navi-below">
	<div class="container">
		<div class="secondary-navi-column first-column">
		</div>
		<div class="secondary-navi-column navi-column-responsive text-right last-column">
			<actions-bottom></actions-bottom>
		</div>
	</div>
</div>
