<div id="loginModal">
	<form name="editContactForm" class="form-horizontal" role="form" novalidate  ng-submit="login(credentials)">
		<div class="modal-header">
			<h3 class="modal-title">Kirjaudu sisään</h3>
		</div>
		<div class="modal-body">
			<div class="row errorRow" ng-show="loginError">
				<div id="loginError" class="wdViolation">
					<span class="wdViolationMessage">Virheellinen käyttäjätunnus tai salasana. Yritä uudestaan.</span>
				</div>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<label>Käyttäjätunnus</label>
						<div>
							<input name="username" type="input" ng-model="credentials.username" class="form-control" empty-to-null>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column3 first-column">
					<div class="form-group">
						<label>Salasana</label>
						<div>
							<input name="password" type="password" ng-model="credentials.password" class="form-control" empty-to-null>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="last-column">
					<button type="button" class="btn btn-xs-secondary wdCancel" ng-click="cancel()">{{ "common.action.cancel" | translate }}</button>
					<button type="submit" id="doLogin" class="btn btn-xs">{{ "common.action.ok" | translate }}</button>
				</div>
			</div>
		</div>
	</form>
</div>